body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #677ce8;
  color: #333;
}
nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #333;
  overflow: hidden;
  height: 50px;
}
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #fff;
}

p {
  line-height: 1.6;
}
.definition {
  font-style: italic;
  border-left: 4px solid #333;
  padding-left: 10px;
  margin: 20px 0;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.subtitle {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.features {
  display: grid;
  gap: 2rem;
  margin: 3rem 0;
}

.feature {
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, background 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.1);
}
